<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hasya.onlinebusticketingsystem">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineBusTicketingSystem"
        tools:targetApi="31">
        <activity
            android:name=".AddPage"
            android:exported="false" />
        <activity
            android:name=".BookingHistoryView"
            android:exported="false" />
        <activity
            android:name=".booking_history_list"
            android:exported="false" />
        <activity
            android:name=".BookingHistoryMainPage"
            android:exported="false" />
        <activity
            android:name=".ExistingCards"
            android:exported="false" />
        <activity
            android:name=".BankAccount"
            android:exported="false" />
        <activity
            android:name=".OnlineBanking"
            android:exported="false" />
        <activity
            android:name=".Cards"
            android:exported="false" />
        <activity
            android:name=".Topup"
            android:exported="false" />
        <activity
            android:name=".AddPaymentMethod"
            android:exported="false" />
        <activity
            android:name=".PaymentSettings"
            android:exported="false" />
        <activity
            android:name=".PaymentMainpage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>